@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #4D458C;
}

iframe, video {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

video {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.slideshow__container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.div__slides:first-child {
    display: block;
}

.div__slides {
    display: none;
}

.a__prev, .a__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2.5%;
    padding: 1%;
    color: white;
    font-weight: bold;
    font-size: 100%;
    transition: 0.6s ease;
    border-radius: 0 5% 5% 0;
    user-select: none;
}

.a__next {
    right: 0;
    border-radius: 5% 0 0 5%;
}

.a__prev:hover, .a__next:hover {
    background-color: rgba(0,0,0,0.8);
}

.div__slide_text {
    color: #4D458C;
    font-size: 100%;
    padding: 1% 1.25%;
    position: absolute;
    bottom: 48%;
    width: 100%;
    text-align: center;
}

.span__dot {
    cursor: pointer;
    height: 15px;
    width: 0.789%;
    margin: 0 0.1%;
    background-color: #EDF0F1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .span__dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.span__def {
    transition: 0.3s ease;
    text-decoration: underline;
}

.span__def:hover {
    color: wheat;
}

#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #24252A;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #EDF0F1;
}

#scroll {
    transition: 0.3s ease;
}

#adani:hover, #adani_img:hover {
    cursor: pointer;
}

#scroll:hover {
    background-color: #24257A;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

#footer__absolute { position: absolute; }

footer {
    clear: both;
    position: static;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 12rem;
    background-color: #24252A;
}

#h1__about { margin-top: 15rem; }

h1 {
    margin-top: 9rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #EDF0F1;
    text-decoration: none;
}

h2 {
    margin-top: 2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #EDF0F1;
    text-decoration: none;
}

h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #EDF0F1;
    text-decoration: none;
}

li, a, p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: #EDF0F1;
    text-decoration: none;
}

header {
    z-index: 1;
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 12rem;
    background-color: #24252A;
}

.container {
    margin: 0 12rem;
    position: relative;
}

.img__header {
    background-color: #4D458C;
    border-radius: 0.5rem;
    padding: 0.2rem 0.2rem;
    color:#EDF0F1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img__links {
    filter: blur(0.3rem);
}

.img__content, .img__links {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.img__content { transition: 0.5s ease;}

.img__content:hover {
    transition: 0.5s ease;
    transform: scale(1.5);
}

.logo {
    cursor: pointer;
}

.div__content {
    list-style: none;
}

.div__content li {
    display: inline-block;
    padding: 2rem 12rem;
}

.p__content {
    text-align: justify;
}

.p__formula {
    text-align: center;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0rem 1.75rem;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: #4D458C;
}

.dialog {
    width: 80%;
    margin: 20px auto;
}

.dialog__window {
    overflow: hidden;
}

.dialog__header {
    padding: 15px;
    text-align: center;
    background-color: #24252A;
    color: #EDF0F1;
}

.dialog__body {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    word-wrap: break-word;
    scroll-behavior: smooth;
}

.dialog__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.dialog__input {
    width: 100%;
    padding: 15px 25px;
    background-color: #EDF0F1;
}

.dialog__input::-webkit-input-placeholder {
    color: #4D458C;
}

.dialog__input:-ms-input-placeholder {
    color: #4D458C;
}

.dialog__input::-ms-input-placeholder {
    color: #4D458C;
}

.dialog__input::placeholder {
    color: #4D458C;
}

.dialog__button {
    padding: 0 30px;
    background-color: #24252A;
    color: wheat;
    font-size: 2rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.dialog__button-hover {
    padding: 0 40px;
    background-color: wheat;
    color: #24252A;
    font-size: 2.5rem;
}

.dialog__button-listen {
    padding: 0 40px !important;
    background-color: #4D458C !important;
    color: lightblue !important;
    font-size: 2.5rem !important;
}

.dialog__message {
    margin: 5px;
    padding: 10px;
    max-width: 60%;
    text-align: justify;
}

.dialog__message.question {
    margin-left: auto;
    background-color: #EDF0F1;
    color: #4D458C;
}

.dialog__message.answer {
    margin-right: auto;
    background-color: wheat;
}

.dialog__image {
    margin: 5px;
    margin-right: auto;
    border-radius: 20px;
    border-top-left-radius: 0;
    width: 80%;
}